:root{
    --main-color: #1E72CE;
}

body{
    font-family: Arial, Helvetica, sans-serif;                                       
}

footer {
    background-color: #01449C;
}


img.arrow-down-gray,
img.arrow-down-blue{
    width: 10px;
}

img.arrow-down-blue{
    display: none;
}

header ul li a{
    color: black;
}

section.header-nav ul li a:hover img.arrow-down-blue{
    display: inline-block;
}

section.header-nav ul li a:hover img.arrow-down-gray{
    display: none;
}

section.header-nav ul li a:hover section.header-nav ul li a{
    color:#1B70D1;
}
img.lens{
    width: 20px;
}

a.black-button{
    background-color: #363636;
}

a.orange-button{
    background-color: #CD3E2B;
}

a.blue-button{
    background-color: #2D64E7;
}

a.light-button{
    background-color: #D9DADC;
    color: var(--main-color);
}

p.surtitle{
    font-size: .9rem;
    color: var(--main-color);
}

p.subtitle{
    font-size: 1.3rem;
    color: #727272;
}

img.main-logo{
    width: 100px;
}

img.globe{
    width: 25px;
}

p.country{
    vertical-align: bottom;
}

img.secondary-logo{
    width: 120px;
}

p.copyright{
    font-size: .8rem;
}


aside img{
    width: 80px;
}

#jumbotron{
    background-image: url(./img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 680px;
    padding-top: 320px;
}

#jumbotron h3,
#new-releases h3{
    font-size: 2.5rem;
}

#game-cards div.img-radius{
    border: 2px var(--main-color) solid;
    border-radius: 20px;
}

#game-cards div.slide-top:hover img.img-shadow{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#game-cards div.slide-top:hover {
	animation: slide-top 0.5s ease-in-out both;
}

@keyframes slide-top {
    0% {
    transform: translateY(0);
    }
    100% {
    transform: translateY(-15px);
    }
}


#game-cards{
    margin-bottom: 4rem;
}

#ps5 h2,
#ps4 h2{
    font-size: 2.4rem;
}


#ps5 div.active-border-bottom{
    border-bottom: 2px var(--main-color) solid;
}

#ps5 div.opacity-hover{
    border-bottom: 2px transparent solid;
    opacity: 50%;
}

#ps5 div.opacity-hover:hover{
    opacity: 100%;
}




#new-releases{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    padding-top: 50px;
}

#new-releases-cards{
    background-color: #1F1F1F;
}

#new-releases-cards h4{
    font-size: 2.4rem;
}

#new-releases-cards div.img-slide:hover img.slide-fwd-center{
	animation: slide-fwd-center 0.5s ease-in-out both;
}

@keyframes slide-fwd-center {
    0% {
    transform: scale(1);
    }
    100% {
    transform: scale(1.02);
    }
}


#ps-plus{
    background-color: #BFBCBB;
}

#ps-plus p {
    font-size: .97rem;
}

#ps-now{
    background-color: #161C3B;
}

